<div class="container-fluid" id="work">

    <div class="container p-3">
        <mat-card class="mat-elevation-z4">

            <mat-card-header class="d-flex justify-content-center">
                <mat-card-title class="d-flex justify-content-center">My work</mat-card-title>
                <mat-card-subtitle class="d-flex justify-content-center">Here are some sample projects.
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <mat-card class="mat-elevation-z4">
                            <mat-card-header class="d-flex justify-content-center">
                                <mat-card-title class="d-flex justify-content-center">TrackThor</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                Sample of full implementation of backend and frontend technologies on Java.
                                <mat-chip-list>
                                    <mat-chip color="accent" selected> Angular 8 </mat-chip>
                                    <mat-chip color="accent" selected> Ionic 4</mat-chip>
                                    <mat-chip color="accent" selected> Bootstrap 4 Grid</mat-chip>
                                    <mat-chip color="accent" selected> Material Design </mat-chip>
                                    <mat-chip color="accent" selected> Spring Boot </mat-chip>
                                    <mat-chip color="accent" selected> PostgreSQL </mat-chip>
                                    <mat-chip color="accent" selected> Docker</mat-chip>
                                    <mat-chip color="accent" selected> Docker-compose</mat-chip>
                                    <mat-chip color="accent" selected> Travis Continuous Integration </mat-chip>
                                </mat-chip-list>
                            </mat-card-content>
                            <mat-card-actions>
                                <a mat-raised-button href="https://github.com/matiasah/trackthor" target="_blank"
                                    color="primary">
                                    Go to GitHub Repository
                                    <mat-icon>navigate_next</mat-icon>
                                </a>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>