@import "../../../assets/themes/theme.scss";

.profile-image {
    border-radius: 50% !important;
    max-width: 345px;
    max-height: 460px;
    height: auto;
    width: auto;
    image-orientation: from-image;
}

.background-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);

    height: 100%;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
}

#profile {
    background: linear-gradient(110deg, mat-color($primary), mat-color($accent));
    color: mat-color($accent, 50);
}
