
<div class="container-fluid pb-3" id="profile">

    <div class="d-flex justify-content-center pt-3">
        <h1 class="mat-display-4">Backend and Frontend Developer</h1>
    </div>

    <div class="d-flex justify-content-center">
        <span class="mat-display-1">I use framework as a basis to create scalable and maintainable web applications.</span>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <img class="profile-image" mat-card-image src="assets/images/profile-fabian.jpg" alt="Fabián Mariqueo">
    </div>

</div>