<div class="container">
    <div class="d-flex justify-content-center pt-3">
        <span class="mat-display-1">Hi, I'm Fabián. Nice to meet you.</span>
    </div>
    <p class="mat-subheading-2">
        I have worked more than 2 years creating web applications that are scalable to be mobile applications for
        Android and iOS devices.
    </p>
    <p class="mat-subheading-2">
        I think it is good to use a framework as a base and apply all rules that exist for that framework.
    </p>


</div>

<div class="container-fluid d-flex justify-content-center px-2 py-2" id="stack-technologies">
    <div class="row container">
        <div class="col-md-6 col-sm-12">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon aria-hidden="false" aria-label="Web Icon">web</mat-icon>
                    </div>
                    <mat-card-title>Frontend</mat-card-title>
                    <mat-card-subtitle>Design & Code</mat-card-subtitle>
                </mat-card-header>
                <!--
                <mat-list>
                    <mat-list-item> Angular 2+ </mat-list-item>
                    <mat-list-item> Ionic </mat-list-item>
                    <mat-list-item> Vue </mat-list-item>
                    <mat-list-item> Bootstrap </mat-list-item>
                    <mat-list-item> Material Design </mat-list-item>
                </mat-list>
                -->
                <mat-chip-list>
                    <mat-chip color="primary" selected> Angular 2+ </mat-chip>
                    <mat-chip color="primary" selected> Ionic </mat-chip>
                    <mat-chip color="primary" selected> Vue </mat-chip>
                    <mat-chip color="primary" selected> Bootstrap </mat-chip>
                    <mat-chip color="primary" selected> Material Design </mat-chip>
                </mat-chip-list>
            </mat-card>
        </div>
        <div class="col-md-6 col-sm-12">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon svgIcon="cubes-solid"></mat-icon>
                    </div>
                    <mat-card-title>Backend</mat-card-title>
                    <mat-card-subtitle>Services, API & Databases</mat-card-subtitle>
                </mat-card-header>
                <mat-chip-list>
                    <mat-chip color="primary" selected> Spring Boot </mat-chip>
                    <mat-chip color="primary" selected> Laravel </mat-chip>
                    <mat-chip color="primary" selected> Flask </mat-chip>
                    <mat-chip color="primary" selected> MySQL </mat-chip>
                    <mat-chip color="primary" selected> PostgreSQL </mat-chip>
                    <mat-chip color="primary" selected> MongoDB </mat-chip>
                </mat-chip-list>
            </mat-card>
        </div>

    </div>
</div>